.carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* Karusel elementlarini to‘liq qamrab olish */
  width: fit-content;
}

.carousel-item {
  width: 300px; /* Default o'lcham */
  height: 400px;
  margin-right: 20px;
  /* Karusel elementlarini mustahkamlash */
  flex-shrink: 0;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-btn-prev {
  left: 10px;
}

.carousel-btn-next {
  right: 10px;
}

/* Kichik ekranlar uchun */
@media screen and (max-width: 768px) {
  .carousel-item {
    width: 200px; /* Kichikroq ekranda kenglikni moslashtirish */
    height: 300px;
  }

  .carousel-btn {
    padding: 8px;
  }
}

/* Juda kichik ekranlar uchun (mobil qurilmalar) */
@media screen and (max-width: 480px) {
  .carousel-item {
    width: 150px; /* Juda kichik ekranlar uchun kenglik */
    height: 200px;
  }

  .carousel-btn {
    padding: 5px;
  }

  .carousel-btn-prev {
    left: 5px;
  }

  .carousel-btn-next {
    right: 5px;
  }
}
