.thumbs-wrapper {
  display: flex;
  align-items: flex-start; /* Vertical alignment */
  gap: 20px; /* Space between elements */
}

.main-wrapper {
  flex: 1; /* Space for the main image */
}

.main-image-box {
  flex: 1; /* Space for the main image */
}

.main-image-bottom {
  width: 100%; /* Main image responsive to screen size */
  max-width: 461px; /* Maximum width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 24px;
  opacity: 1;
}

.small-images-container {
  display: flex;
  gap: 10px; /* Space between thumbnails */
  flex-wrap: wrap; /* Thumbnails wrap to the next line */
}

.small-image {
  width: 106.25px;
  height: 72px;
  border-radius: 12px;
  opacity: 1;
  cursor: pointer;
  flex-shrink: 0; /* Maintain size of thumbnails */
  object-fit: cover; /* Fit images within the container */
}

.small-image:hover {
  opacity: 0.7; /* Hover effect */
}

.content-section {
  flex: 1; /* Space for text */
}

.content-title {
  width: 100%; /* Adjust to fit */
  max-width: 617px;
  height: auto; /* Automatic height */
  font-family: 'TT Runs Trial', sans-serif; /* Updated font */
  font-size: 24px; /* Title size */
  font-weight: 600; /* Title weight */
  color: #11171C; /* Color */
}

.content-description {
  width: 100%; /* Adjust to fit */
  max-width: 615px;
  height: auto; /* Automatic height */
  font-family: 'TT Runs Trial', sans-serif; /* Updated font */
  font-size: 16px; /* Description size */
  font-weight: 400; /* Description weight */
  line-height: 24px; /* Line height */
  text-align: left; /* Left align text */
  color: #11171C; /* Color */
}

.content-list {
  list-style-type: disc; /* List markers */
  padding-left: 20px; /* Left padding */
}

.content-list-item {
  margin-bottom: 10px; /* Space between list items */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .thumbs-wrapper {
    flex-direction: column; /* Vertical layout on mobile */
  }

  .main-image-box {
    width: 100%; /* Set main image width to 100% */
  }

  .content-section {
    width: 100%; /* Set text section width to 100% */
  }

  .small-images-container {
    justify-content: center; /* Center small images */
    display: flex;
  }

  .small-image {
    width: 80px; /* Reduce thumbnail size */
    height: 56px; /* Reduce thumbnail height */
  }
}

@media (max-width: 480px) {
  .content-title {
    font-size: 20px; /* Reduce title size */
  }

  .small-images-container img {
    width: 20%;
  }

  .content-description {
    font-size: 14px; /* Reduce description size */
  }
}
