@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.accordion-container {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 20px;
}

.accordion-container * {
  box-sizing: border-box;
}

.accordion-list {
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
}

.accordion-list li {
  background-color: #f1f5f9;
  padding: 40px 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
 
 
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
 
  transition: all 0.3s ease;
}

.accordion-list li:hover {
  background-color: #f9fafb;
}

.accordion-list li.active h3::after {
  content: "−";
  transform: rotate(0deg);
}

.accordion-list h3 {
  font-weight: 500;
  font-size: 18px;
  color: #333;
  margin: 0;
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}

.accordion-list h3::after {
  content: "+";
  font-size: 24px;
  color: #333;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.3s ease;
}

.accordion-list .answer {
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  color: #666;
  padding-top: 10px;
  transition: max-height 1s ease-in-out;
  font-weight: 400;
}

.accordion-list li.active .answer {
  max-height: 500px;
}








